# Node.js
node_modules/
npm-debug.log*
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan

crash.log

# Kubernetes
kubeconfig
*.pem
*.key

# Operating system / editor
.vscode/
.DS_Store
Thumbs.db